body, html {
    margin: 0; padding: 0;
    background: #000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    user-select: none; /* Seçimi tamamen engelle */
}

#desktop {
    width: 100vw; height: 100vh;
    background: linear-gradient(rgba(0, 20, 0, 0.8), #000);
    position: relative;
}

/* Buton İkonlar */
.icons-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 120px;
}

.icon-btn {
    background: transparent;
    border: 1px solid transparent;
    color: #00ff00;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: 0.2s;
}

.icon-btn:hover {
    background: rgba(0, 255, 0, 0.1);
    border: 1px solid #00ff00;
}

.icon-btn:active { transform: scale(0.9); }

.emoji { font-size: 40px; }
.label { font-size: 12px; margin-top: 5px; font-weight: bold; }

/* Terminal Kutuları */
.terminal-box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border: 2px solid #00ff00;
    padding: 15px;
    z-index: 9999;
    box-shadow: 0 0 15px #00ff00;
}

.title-bar {
    background: #00ff00;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Input ve Aksiyon Butonları */
input {
    background: #000; border: 1px solid #00ff00;
    color: #00ff00; padding: 10px; width: 100%;
    box-sizing: border-box; margin-bottom: 10px;
}

.action-btn {
    background: #00ff00; color: #000;
    border: none; padding: 10px; width: 100%;
    font-weight: bold; cursor: pointer;
}

.close-btn {
    background: transparent; color: #ff0000;
    border: none; font-size: 10px; margin-top: 10px; cursor: pointer;
}

/* Progress Bar */
.progress-container {
    width: 250px; height: 10px; background: #002200;
    border: 1px solid #00ff00;
}
#progress-bar { width: 0%; height: 100%; background: #00ff00; }

.hidden { display: none !important; }
