/* İkonların olduğu kapsayıcıyı seçilemez yapıyoruz */
.icons-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1000;
    
    /* SEÇME VE KOPYALAMA ENGELLEYİCİ */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10 ve üstü */
    user-select: none;         /* Standart (Seçimi engeller) */
}

.icon {
    cursor: pointer;
    text-align: center;
    width: 80px;
    /* Tıklamayı garantiye almak için */
    pointer-events: auto; 
}

/* İkonun içindeki metinler de seçilemesin */
.icon p, .icon span {
    pointer-events: none; /* Tıklamayı direkt ana kutuya (icon) yönlendirir */
}
